<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="vendors/bootstrap.min.css">
    <!--<link rel="stylesheet" href="assets/styles/style.css">-->
    <script type="text/javascript" src="vendors/jquery.min.js"></script>
    <script type="text/javascript" src="assets/scripts/app_admin.js"></script>
    <title>**ADMIN** Message Board - SQL</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well" style="margin-top: 20px">
                <form id="form">
                    <div class="form-group">
                        <label for="namePost">Message Board</label>
                        <input type="text" class="form-control" id="namePost" name="namePost" placeholder="Name">
                    </div>
                    <div>
                        <textarea class="form-control" form="form" id="messagePost" name="messagePost" rows="3" placeholder="Enter Message" spellcheck="true"></textarea>
                    </div>
                    <button type="submit" id="submitPost" class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="message-posts row"></div>

</div>
</body>
</html>